body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.sidetext {
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #444;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.node-list-long {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.search-results span {
    display: block;
    font: 10pt "Lucida Console", Monaco, monospace;
    padding: 5px 5px;
}

.search-results a {
    text-decoration: none;
    color: black;
}

.search-results-disabled {
    font: 10pt "Lucida Console", Monaco, monospace;
    color: grey;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.search-results a:hover {background-color: #f1f1f1}
